<form action="/messaTwilioMailer" method="post">
    Email<input type="email" name="email" id="email">
    Message<input type="text" name="message" id="message">
    <input type="submit" value="SEND">
</form>